<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @day.goal %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @day.completed %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @day.notes %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
